<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="show-service-name"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body container" id="model_body">
            <div class="row"><b class="col">Status: </b><p id="status" class="col"></p></div>
            <div class="row"><b class="col">Timing: </b><p id="timing" class="col"></p></div><div></div>
            <div class="row"><b class="col">Locality: </b><p id="locality" class="col"></p></div>
            <div class="row"><b class="col">Contact Number: </b><p id="contact" class="col"></p></div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="orderButton">Order</button>
        </div>
    </div>
  </div>
</div>
<script>
function showModal(service_id){
    $("#orderButton").removeClass("disabled")
    $.get( "/service/"+service_id, function( data ) {

        if(data.type == "FoodService"){
            now = new Date();
            hh = now.getHours();
            mm = now.getMinutes();
            
            console.log(data)
            var str1 = data.interval.timing[0].start.trim();
            var str2 = data.interval.timing[0].end.trim();

            str1 =  str1.split(':');
            str2 =  str2.split(':');
            var str3 = [hh.toString(), mm.toString()];

            console.log(str1, str2, str3)

            totalSeconds1 = parseInt(str1[0] * 3600 + str1[1] * 60 + str1[0]);
            totalSeconds2 = parseInt(str2[0] * 3600 + str2[1] * 60 + str2[0]);
            nowSeconds = parseInt(str3[0] * 3600 + str3[1] * 60 + str3[0]);

            console.log(totalSeconds1, totalSeconds2, nowSeconds)

            available = "Not available";
            if( totalSeconds1 <= nowSeconds && totalSeconds2 >= nowSeconds)
                available = data.status.toLowerCase() == "available" ? "Available" : "Not available";
            
            $('#removable').remove()
            $('#show-service-name').html("<b>"+data.name+"</b>")
            $('#timing').html("From: "+data.interval.timing[0].start+" To: "+data.interval.timing[0].end);
            $('#status').html(available)
            $('#locality').html(data.locality)
            $('#contact').html(data.contact_number)
            $('#model_body').append('<div class="row" id="removable"><b class="col">Foods: </b><div id="foods" class="col"></div></div>')

            s = '<table class="table table-bordered"><thead class="thead-dark"><tr><th scope="col">Food</th><th scope="col">Cost (Rs. )</th></tr></thead><tbody>'
            check_s = s;
            $.each(data.foods, (index, food) => {
                console.log(food.available_count)
                if (food.available_count == 0)
                    return true
                s += "<tr>"
                s += "<td>"+food.name+"</td>"
                s += "<td>"+food.cost+"</td>"
                s += "</tr>"
            })
            nothing = false
            if (s == check_s){
                nothing = true
                $("#status").html("Not Available")
            }
            
            if(nothing)
                s = "No foods available"
            else
                s += "</tbody></table>"
            $("#foods").html(s)
            if(nothing || available == "Not available")
                $("#orderButton").addClass('disabled');
            else
                $("#orderButton").attr("onclick","orderFood("+service_id+")");
        } else if(data.type == "StayService") {
            $('#removable').remove();
            $('#show-service-name').html("<b>"+data.name+"</b>");
            $('#timing').html("24/7");
            $('#locality').html(data.locality);
            $('#contact').html(data.contact_number);
            $('#status').html(data.available == true ? "Available" : "Not Available");
            $('#model_body').append('<div class="row" id="removable"><b class="col-2">Stay Options: </b><div id="stay" class="col"></div></div>')

            s = '<table class="table table-bordered"><thead class="thead-dark"><tr><th scope="col">Stay option</th><th scope="col">Amenities</th><th scope="col">Cost (Rs. )</th><th scope="col">Beds</th></tr></thead><tbody>'
            check_s = s;
            $.each(data.stay_options, (index, option) => {
                if (option.available == 0)
                    return true
                s += "<tr>";
                s += "<td>"+option.name+"</td>";
                s += "<td>"+option.includes.amenities.toString()+"</td>";
                s += "<td>"+"Rs. "+option.cost+" / day"+"</td>";
                sss = ""
                for (key in option.includes.bed_type) {
                    if(option.includes.bed_type[key]){
                        console.log(key)
                        sss += key + " : " + option.includes.bed_type[key] + ", ";
                    }
                };
                s += "<td>"+sss+"</td>";
                s += "</tr>";
            })
            nothing = false
            if (s == check_s){
                nothing = true
                $("#status").html("Not Available")
            }
            
            if(nothing){
                $('#status').html("Not Available")
                s = "No Stay Option available"
            } else {
                s += "</tbody></table>"
            }
            $("#stay").html(s)

            if(nothing || !data.available)
                $("#orderButton").addClass('disabled');
            else
                $("#orderButton").attr("onclick","orderStay("+service_id+")");
        }
        
        $('#serviceModal').modal('show')
    });
    
}
</script>