<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="show-service-name"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body container" id="model_body">
            <div class="row"><b class="col">Status: </b><p id="status" class="col"></p></div>
            <div class="row"><b class="col">Locality: </b><p id="locality" class="col"></p></div>
            <div class="row"><b class="col">Contact Number: </b><p id="contact" class="col"></p></div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="orderButton">Order</button>
        </div>
    </div>
  </div>
</div>
<script>
function showModal(service_id){
    $.get( "/service/"+service_id, function( data ) {

        if(data.type == "FoodService"){
            now = new Date();
            hh = now.getHours();
            mm = now.getMinutes();
            
            console.log(data)
            var str1 = data.interval.timing[0].start;
            var str2 = data.interval.timing[0].end;

            str1 =  str1.split(':');
            str2 =  str2.split(':');
            var str3 = [hh.toString(), mm.toString()];

            console.log(str1, str2, str3)

            totalSeconds1 = parseInt(str1[0] * 3600 + str1[1] * 60 + str1[0]);
            totalSeconds2 = parseInt(str2[0] * 3600 + str2[1] * 60 + str2[0]);
            nowSeconds = parseInt(str3[0] * 3600 + str3[1] * 60 + str3[0]);

            console.log(totalSeconds1, totalSeconds2, nowSeconds)

            available = "not available";
            if( totalSeconds1 <= nowSeconds && totalSeconds2 >= nowSeconds)
                available = data.status == "available" ? "available" : "not available";
            
            $('#removable').remove()
            $('#show-service-name').html("<b>"+data.name+"</b>")
            $('#status').html(available)
            $('#locality').html(data.locality)
            $('#contact').html(data.contact_number)
            $('#model_body').append('<div class="row" id="removable"><b class="col">Foods: </b><div id="foods" class="col"></div></div>')

            $("#foods").html("<ul>")
            $.each(data.foods, (index, food) => {
                $("#foods").append("<li>"+food.name+"</li>");
            })
            $("#foods").append("</ul>")
            $("#orderButton").attr("onclick","orderFood("+service_id+")");
        } else if(data.type == "StayService") {
            $('#removable').remove()
            $('#show-service-name').html("<b>"+data.name+"</b>")
            $('#locality').html(data.locality)
            $('#contact').html(data.contact_number)
            $('#status').html(data.available == true ? "Available" : "Not Available")
            $('#model_body').append('<div class="row" id="removable"><b class="col">Stay Options: </b><div id="stay" class="col"></div></div>')

            $("#stay").html("<ul>")
            $.each(data.stay_options, (index, stay) => {
                s = "<li><b>"+stay.name+"</b><br>";
                ss = "Amenities : ";
                stay.includes.amenities.forEach((value)=>{
                    ss += value + " "
                })
                ss += "<br>"
                sss = "Bed Types :<ul>"
                for (key in stay.includes.bed_type) {
                    if(stay.includes.bed_type[key]){
                        sss += "<li>"
                        console.log(key)
                        sss += key + " : " + stay.includes.bed_type[key] + "</li>";
                    }
                }
                sss += "</li></ul>"
                s = s + ss + sss + "</li>"
                $("#stay").append(s);
            })
            $("#orderButton").attr("onclick","orderStay("+service_id+")");
        }
        
        $('#serviceModal').modal('show')
    });
    
}
</script>