.btn {
    margin: 5px
}

#collapsibleNavbar button {
    float: right;
}

.image-center {
    padding-top: 2rem;
}

footer {
    padding-bottom: 2rem;
}

.alert {
    width:40%; 
    margin:auto; 
 }

 