
<div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-5 col-12">
        <div class="image-center">
            <img src="carousal/1.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-6 col-md-7 col-12">
        <h2 class="my-5 pt-3">
        What is<Strong> Sharing ?</Strong>
        </h2>
        <h5 class="mb-4">
        Sharing is a platform which helps people to bring food to their plate in this COVID 
        times. Signup and search the food providers around you. 
        </h5>    
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-7 col-12">
        <h2 class="my-5 pt-3">
        How it <Strong>benefits you ?</Strong>
        </h2>
        <h5 class="mb-4">
        <b>Are you a vendor?</b> This is the oppurtunity for you to give back to society. 
        If you can, give food to people around you.<br><br>
        <b>Are you in need of food?</b> We are here to help you. There are many providers who
        are here to give free food or at a minimum cost.
        </h5>    
    </div>
    <div class="col-lg-6 col-md-5 col-12">
        <div class="image-center">
            <img src="carousal/2.jpg" class="img-fluid">
        </div>
    </div>
    </div>
</div>