<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src='sharing-full.png' height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="collapsibleNavbar">
        <div class="col"> 
            <% if logged_in? %>
                <% if @current_user.userType == "vendor" %>
                    <a type="button" class="btn btn-outline-light btn-sm" href="/changehome">Change Home</a>
                <% end %>
                <% if user_type == "user" %>
                    <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#searchModal">search</button>
                    <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#showOrdersModal">orders</button>
                <% end %>
                <% if user_type == "vendor" %>
                    <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#showVendorOrdersModal">orders</button>
                <% end %>
                <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#profileModal">profile</button>
                <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#logoutModal">logout</button>
            <% else %>
                <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#loginModal">login</button>
                <button class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#signupModal">signup</button>
            <% end %>
        </div>
    </div>  
</nav>